[class*='col-'] {
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.back {
  float: right;
}
.coordinates span {
  display: block;
  position: relative;
}
