.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid;
}

.header-title {
  margin: 10px;
  line-height: 40px;
  height: 50px;
  display: flex;
}

.user-header {
  display: flex;
  justify-content: space-between;
}

.user-info {
  height: max-content;
  font-size: larger;
  height: 50px;
  margin: 10px;
}

.logout-button {
  margin: 15px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.menu {
  padding: 10px;
  width: 15%;
  height: 100%;
  border-right: 1px solid;
}

.content {
  padding: 10px;
  width: 85%
}
